#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  color: rgb(50, 50, 50);
  width: 350px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
}

.withdraw,
.deposit {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withdraw button,
.deposit button {
  margin-bottom: 1rem;
}

.withdraw-button {
  background-color: red;
}
